<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>To do List</title>

        <!-- bootstrap -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
        <!-- css -->
        <link rel="stylesheet" href="css/style.css">
        

    </head>
    <body class="debug">
        <div id="app">
            <header class="p-3 bg-success text-white">
                <h1>
                    To Do
                </h1>
            </header>
            <div class="container ">
                <main>
                    <ul class="pt-4  list-unstyled">
                        <li v-for="(elem, i) in task"
                        :key="i"
                        class="mb-2 border border-1 border-black p-2 rounded-2 bg-light d-flex justify-content-between"
                        >
                            <span v-if="editingIndex !== i" 
                            :class="{
                                'text-decoration-line-through': elem.status == true,
                                '': elem.status == false,
                                'd-none': trueTask == false,
                            }"  
                            @click="toggleDrop(i)"
                            >
                            {{elem.task}}
                            </span>
                            <input v-if="editingIndex === i && inputVisible"
                            @keyup.enter="editTaskDb(i)"
                            v-model="editedTask"
                            type="text"
                            :placeholder="task[i].task"
                            class="me-2 p-1 rounded border-1">

                            <div>
                                


                                <button type="button"
                                class="border-0 me-2"
                                @click="editTask(i)"> 
                                    Edit
                                </button>


                                <button type="button"
                                class="border-0"
                                @click="removeTodo(i)">
                                    X
                                </button>
                            </div>
                        </li>
                    </ul>

                    <div>
                        <input type="text" v-model="newTask"
                        class="me-2 p-1 rounded border-1 "
                        >
                        <button type="button"
                        class="p-1 rounded border-1 bg-white"
                        @click="addTodo()">
                            Aggiungi
                        </button>
                    </div>
                </main>
            
                <footer>
                
                </footer>
            </div>
        </div>


        <!-- Vue -->
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <!-- AXIOS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.5/axios.min.js" integrity="sha512-TjBzDQIDnc6pWyeM1bhMnDxtWH0QpOXMcVooglXrali/Tj7W569/wd4E8EDjk1CwOAOPSJon1VfcEt1BI4xIrA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <!-- Js -->
        <script type="text/javascript" src="js/scripts.js"></script>
    </body>
</html>